/* Set the page to full screen size and font to roboto for all the website */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto";
    background-color: #313131;
}

/* Class used to color text in yellow */

.yellow {
    color: #dfc30a;
}

/* Used for the navbar (top of the page) */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 60px 0px 60px;
    border-bottom: 1px solid #919191;
}

#logo img {
    width: auto;
    height: 50px;
}

#list ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top: 10px;
}

#list ul li {
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
    background-color: #dfc30a;
    border: 5px solid #dfc30a;
    border-radius: 3px;
}

#list ul li a {
    font-size: large;
    color: #313131;
    text-decoration: none;
}

/* Articles are square shapped box in the middle of the website */

article {
    margin: 50px 100px 0 100px;
    border: 2px solid #919191;
    border-radius: 10px;
    text-align: center;
    color: #919191;
}

article p {
    padding: 0px 5em 0px 5em;
}

article #inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article #inputs input {
    padding: 5px;
    margin: 10px;
    height: 24px;
    width: 200px;
    background-color: #919191;
    border: 1px solid #919191;
    border-radius: 2px;
}

/* Used to align and set correctly products and services */

.items {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items div {
    margin: 0 10px 0 10px;
    height: 250px;
    width: 500px;
    text-align: center;
}

.items img {
    width: auto;
    height: 70px;
}

.items p {
    padding: 0;
    margin: 0;
}

/* Only used on the index.html */

.buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}


.buttons a {
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
    background-color: #dfc30a;
    border: 5px solid #dfc30a;
    border-radius: 3px;
    text-decoration: none;
}

/* Bottom of the page */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 60px 5px 60px;
    border-top: 1px solid #919191;
}

footer h4 {
    color: #919191;
}

footer ul {
    padding-left: 0;
    color: #919191;
    list-style: none;
}

footer a {
    font-size: large;
    color: #919191;
}

/* Mobile Support (Not recommanded) */

/* Hide mobile support by default */
#mobile-nav {
    display: none;
}

#mobile-nav-list {
    display: none;
}

#mobile-nav-list ul {
    list-style: none;
    text-align: left;
}

#mobile-nav-list ul li{
    padding: 10px;
}

#mobile-nav-list ul li a{
    color: #dfc30a;
    width: 100%;
}

@media screen and (max-width: 799px){
    /* Hide base navbar */
    header {
        display: none;
    }

    /* Unveil mobile navbar */
    #mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 40px 0px 40px;
        overflow: hidden;
        position: relative;
    }
    #mobile-nav a {
        padding-top: 18px;
    }
    
    /* addapt articles sizes */
    article {
        margin: 50px 50px 0 50px;
        border: 2px solid #919191;
        border-radius: 10px;
        text-align: center;
        color: #919191;
    }
    article p {
        padding: 0px 1em 0px 1em;
    }
    /* addapt items */
    .items {
        padding: 0 50px 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .items div {
        height: 300px;
        width: 300px;
    }

    .items p, .items h3{
        padding: 0 3.5em 0 3.5em;
    }

    /* Addapt footer */
    footer {
        padding: 0px 30px 0px 30px;
    }

    footer a, footer h4 {
        font-size: small;
        color: #919191;
    }

}

/* Enf of Mobile Support */